title: Homelab
subtitle: Internal Services
theme: dark
color: slate
headerStyle: clean
layout:
  Applications:
    style: row
    columns: 2
  Monitoring:
    style: row
    columns: 3
  Infrastructure:
    style: row
    columns: 4
