services:
  actualbudget:
    image: actualbudget/actual-server:latest
    container_name: actualbudget
    restart: unless-stopped

    ports:
      - "5006:5006"

    volumes:
      - ./data:/data

    environment:
      - ACTUAL_UPLOAD_FILE_SYNC_SIZE_LIMIT_MB=20
      - ACTUAL_UPLOAD_SYNC_ENCRYPTED_FILE_SYNC_SIZE_LIMIT_MB=50
      - ACTUAL_UPLOAD_FILE_SIZE_LIMIT_MB=20

    security_opt:
      - no-new-privileges:true

    cap_drop:
      - ALL

    networks:
      - proxy

networks:
  proxy:
    external: true
