services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_ADMIN_USER}
      POSTGRES_PASSWORD: ${POSTGRES_ADMIN_PASSWORD}
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      - db-net

networks:
  db-net:
    name: db-net
    driver: bridge
