services:
  gitea:
    image: gitea/gitea:1.21
    container_name: gitea
    restart: always
    environment:
      USER_UID: 1000
      USER_GID: 1000

      GITEA__database__DB_TYPE: ${GITEA_DB_TYPE}
      GITEA__database__HOST: ${GITEA_DB_HOST}
      GITEA__database__NAME: ${GITEA_DB_NAME}
      GITEA__database__USER: ${GITEA_DB_USER}
      GITEA__database__PASSWD: ${GITEA_DB_PASSWD}

    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

    ports:
      - "3000:3000"
      - "2222:22"

    networks:
      - gitea-net
      - db-net
      - proxy

networks:
  gitea-net:
    driver: bridge

  db-net:
    external: true

  proxy:
    external: true
